# **Read Data From JSON**

**Importing Json**

In [1]:
import json

In [2]:
fd = open("Record.json",'r')
r = fd.read()
fd.close()

Record = json.loads(r)

**Display of Record**

In [3]:
Record

{'1001': {'name': 'Choco Cake', 'pr': 34, 'qn': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Monitor', 'pr': 20000, 'qr': 200},
 '1011': {'name': 'Speakers', 'pr': 5000, 'qr': 300},
 '1012': {'name': 'Bedsheet', 'pr': 1000, 'qr': 10},
 '1013': {'name': 'Mattress', 'pr': 40000, 'qr': 100},
 '1014': {'name': 'Laptop', 'pr': 100000, 'qr': 50},
 '1015': {'name': 'Key chain', 'pr': 20, 'qr': 2},
 '1016': {'name': 'Table', 'pr': 2000, 'qr': 50},
 '1017': {'name': 'Pepsi', 'pr': 50, 'qr': 20},
 '1018': {'name': 'Kurkure', 'pr': 15, 'qr': 40},
 '1019': {'name': 'Maggie', 'pr': 10, 'qr': 26},
 '1020': {'name': 'Motherboard', 'pr': 20000, 'qr': 2},
 '1021': {'name': 'Gorilla Glass', 'pr': 2000, 'qr': 75},
 '1022': {'name': 'Newspaper', 'pr': 4, 'qr': 100},
 '1023': {'name': 'earphone', 'pr': 1500, 'qr': 10},
 '1024': {'name': 'AC', 'pr': 40000, 'qr': 1},
 '1025': {'name': 'Heater', 'pr': 10000, 'qr': 20},
 '1026': {'name': 'Geyser', 'pr': 20000, 'qr': 30},
 '1027': {'name': 'Clock', 'pr': 300, 'qr': 30},
 '1028': {'name': 'Pen', 'pr': 20, 'qr': 300},
 '1029': {'name': 'Amazon Echo', 'pr': 20000, 'qr': 100},
 '1030': {'name': 'Pizza', 'pr': 100, 'qr': 20}}

# **Add New Item into Inventory**

**Functionality**
*   ***User can Input only Unique Product ID.***


---
*   ***If statement is used here for checking if Product Id is already there in the record.***

In [37]:
prod_id = str(input("Enter Product ID : "))
nme = str(input("Enter Product Name : "))
price = int(input("Enter Price : "))
quan = int(input("Enter Quantity : "))
if (prod_id in Record.keys()):
  print("It's already there in the Record.Please Run the cell Again")
else:
  Record[prod_id] = {'name':nme, 'pr':price, 'qr':quan}
  js = json.dumps(Record)
  fd = open('Record.json','w')
  fd.write(js)
  fd.close()

Enter Product ID : 1001
Enter Product Name : 5
Enter Price : 4
Enter Quantity : 5
It's already there in the Record.Please Run the cell Again

# **Deleting a cell**

**Functionality**
* ***If product id is not there in Record.json, it won't delete and gives a message that No such item exists.***


---
*   ***If statement is used here for checking if Product Id is already there in the record.***

In [34]:
prod_id = str(input("Enter Product ID : "))
if (prod_id in Record.keys()):
  del Record[prod_id]
  print("Item deleted")
else:
  print("No item exists")

Enter Product ID : 85216
No item exists

In [32]:
Record

{'1001': {'name': 'Choco Cake', 'pr': 34, 'qr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Monitor', 'pr': 20000, 'qr': 200},
 '1011': {'name': 'Speakers', 'pr': 5000, 'qr': 300},
 '1012': {'name': 'Bedsheet', 'pr': 1000, 'qr': 10},
 '1013': {'name': 'Mattress', 'pr': 40000, 'qr': 100},
 '1014': {'name': 'Laptop', 'pr': 100000, 'qr': 50},
 '1015': {'name': 'Key chain', 'pr': 20, 'qr': 2},
 '1016': {'name': 'Table', 'pr': 2000, 'qr': 50},
 '1017': {'name': 'Pepsi', 'pr': 50, 'qr': 20},
 '1018': {'name': 'Kurkure', 'pr': 15, 'qr': 40},
 '1019': {'name': 'Maggie', 'pr': 10, 'qr': 26},
 '1020': {'name': 'Motherboard', 'pr': 20000, 'qr': 2},
 '1021': {'name': 'Gorilla Glass', 'pr': 2000, 'qr': 75},
 '1022': {'name': 'Newspaper', 'pr': 4, 'qr': 100},
 '1023': {'name': 'earphone', 'pr': 1500, 'qr': 10},
 '1024': {'name': 'AC', 'pr': 40000, 'qr': 1},
 '1025': {'name': 'Heater', 'pr': 10000, 'qr': 20},
 '1026': {'name': 'Geyser', 'pr': 20000, 'qr': 30},
 '1027': {'name': 'Clock', 'pr': 300, 'qr': 30},
 '1028': {'name': 'Pen', 'pr': 20, 'qr': 300},
 '1029': {'name': 'Amazon Echo', 'pr': 20000, 'qr': 100},
 '1030': {'name': 'pizza', 'pr': 100, 'qr': 20}}